<div>
  <p>面接開始時間:<%= @interview.interview_datetime.strftime("%Y年%m月%d日 %H時%M分") %></p>
  <p>承認状態:<%= Interview.approval_statuses_i18n[@interview.approval_status] %></p>
</div>

<%= link_to '面接一覧へ' , {controller: :interviews, action: :index} %>
