<table>
　<tr align="left">
　　<th>面接開始日時</th>
　　<th>承認状態</th>
　</tr>
  <% @interviews.each do |i| %>
  <tr align="left">
    <td><%= l i.interview_datetime, format: :long %></td>
    <td><%= Interview.approval_statuses_i18n[i.approval_status] %></td>
  </tr>
  <% end %>
</table>

<%= link_to '新規面接作成' , {controller: :interviews, action: :new} %>
