<div>
  <p><strong>面接開始時間</strong>:<%= l @interview.interview_datetime, format: :long%></p>
  <p><strong>承認状態</strong>:<%= Interview.approval_statuses_i18n[@interview.approval_status] %></p>
</div>

<%= button_to '面接一覧へ' , user_interviews_path(@interview.user_id), method: :get %>
